* {
  font-family: 'Lato', sans-serif;
}

html {
  background: url("img/mdz.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  min-height: 4rem;
  margin: 0;
  padding: 0.2rem 1.8rem;
}
#version {
  position: absolute;
  top: 0.8 rem;
  right: 1.5rem;
  color: #222;
  font-size: 0.8rem;
  font-style: italic;
  background: #FFFFFFA0;
  padding: 4px;
}
header h1 {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #F44;
  /*text-shadow: -2px 2px 0 #DDD,
                2px 2px 0 #DDD,
                2px -2px 0 #DDD,
               -2px -2px 0 #DDD;*/
}
@media (max-width: 512px) {
  h1 {
    font-size: 1.0rem;
  }
}

h2 {
  font-size: 1rem;
  color: #555;
}

.content {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
}

#inputvalues {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #EEE;
}

.results {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

#track {
  position: relative;
  background: #ddd;
  overflow: hidden;
}

#track canvas {
  position: absolute;
}

.charts {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  background: #FFF;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
#car {
  position: absolute;
  top: -24px;
  left: -36px;
  width: 72px; /*180×120*/
  height: 48px;
  border-radius: 2px;
  /*background-color: #F40;*/
  background-size: cover;
  will-change: transform;
  display: none;
}

#end-status {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12rem;
  height: 12rem;
  margin-left: -6rem;
  margin-top: -6rem;
}
#end-status div {
  text-align: center;
  margin: 0.5rem;
}
#end-status .victory {
  width: 100%;
  display: none;
}
#end-status .crash {
  display: none;
}
#end-status .echec {
  width: 100%;
  display: none;
}

.buttons {
  width: 42px;
  float: right;
}
#run {
  padding: 0.5rem;
  background: #60a33c;
  border-radius: 0.5rem;
  transition: all 0.4s ease 0s;
}
#run:hover {
  background: #30832c;
}
#run img {
  width: 24px;
}

#running {
  display: none;
}

#running img {
  width: 64px;
}

#running .stop img {
  margin: 8px;
  width: 48px;
}

#enonce {
  margin: 1rem 0.5rem;
}
.inputs > div {
  margin: 0.5rem;
}
.inputs > div > label {
  display: inline-block;
  width: 8rem;
}
.inputs > div > input {
  display: inline-block;
  width: 3rem;
  text-align: right;
}